body {
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  padding: 20px;
}

form {
  background: #11182a;
  color: white;
  padding: 30px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
}



.group {
  margin-bottom: 15px;
}

#survey-form input {
  background-color: #0b0f1a;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
#survey-form #number-label placeholder {
  color: rgb(175, 99, 0);
}

textarea{
  background-color: #0b0f1a;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

option{
  background-color: #0b0f1a;
  color: white;
}
#dropdown{
   background-color: #0b0f1a;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

#submit{
  background-color: #0b0f1a;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}
#submit:hover{
  background-color: #090b0f;
}